@mixin keyframes($animation-name) {
	@-webkit-keyframes $animation-name {
		@content;
	}
	@-moz-keyframes $animation-name {
		@content;
	}
	@keyframes $animation-name {
		@content;
	}
}

@mixin animation($str) {
	-webkit-animation: #{$str};
	-moz-animation: #{$str};
	animation: #{$str};
}

@include keyframes(pulse) {
	0% { opacity: 0.6; }
	50% { opacity: 0.1; }
	100% { opacity: 0.6; }
}

.home {
	.icon-container {
		position: absolute;
		left: 50%;
		top: 50%;
		z-index: 1001;
		transform: translate(-50%, -50%);
		transform: translate3d(-50%, -50%, 0);
	}
	
	.placeholder-container {
		height: 50vh;
		
		.featuredImage {
			background-size: cover;
		}
		
		.placeholder {
			position: relative;
			opacity: 1;
			transition: opacity 320ms ease-out;
		}
		
		.link-title {
			color: $off-canvas-bg;
			display: block;
			float: left;
			width: 100%;
			height: 100%;			
			margin: 0;
			
			text-align: center;			
			font-weight: 300;			
			font-size: $h1-font-size; 
			line-height: 0;			
			letter-spacing: -2px;
			
			transition: opacity 320ms 320ms ease-out, transform 640ms ease-out;
			transform: translate3d(0, -50%, 0);
		}
		
		a {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;						
		}
	}
}

.no-touch {
	.home {			
		.placeholder-container {
			.link-title {
				font-size: $huge-font-size;
				font-weight: 100;
				letter-spacing: -3px;
				opacity: 0;
				transform: translate3d(- $h3-line-height, -50%, 0);				
			}
		}
			
		.placeholder-container:hover {			
			.placeholder {				
				opacity: 0.6;
				
				@media #{$medium-up} {
					filter: blur(3px);
					-webkit-filter: blur(3px); 
					-moz-filter: blur(3px); 
					-o-filter: blur(3px); 
					-ms-filter: blur(3px);
					filter: url(blur.svg#blur);
				}
			}
			
			.link-title {
				opacity: 1;
				transform: translate3d(0, -50%, 0);					
			}
			
		}
	}
}

.header, .footer {
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 99;
	display: block;
	transform: translateZ(0);
	background: #fff;
	//box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
	text-align: center;
	z-index: 9997;
	//pointer-events: none;
	padding: 0 $sidenav-width;
	
	@media #{$medium-up} {
		text-align: left;
		//float: left;
		//position: relative;
		//z-index: 9999;
	}
}

.header {
	top: 0;
}

.footer {
	bottom: 0;
}

.header-title, .footer-title {
	background: $body-bg;
	font-weight: 300;
	top: 0;
	margin: $h3-margin-top / 2 0;
	transform: translateZ(0);
	display: inline-block;
}



.blur {
	@media #{$medium-up} {
		filter: blur(3px);
		-webkit-filter: blur(3px); 
		-moz-filter: blur(3px); 
		-o-filter: blur(3px); 
		-ms-filter: blur(3px);
		filter: url(blur.svg#blur);
	}
}

.blur-for-all {
	filter: blur(3px);
	-webkit-filter: blur(3px); 
	-moz-filter: blur(3px); 
	-o-filter: blur(3px); 
	-ms-filter: blur(3px);
	filter: url(blur.svg#blur);
}


.placeholder {
	display: block;
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: relative;
	background-size: cover;		
	background-position: 50%;
	//transform: translateZ(0);

	@media #{$medium-up} {
		position: absolute;
		
		&.darken {
			opacity: 0.25;
		}
	}
	
	&.absolute {
		position: absolute;
	}
	
	&.darken-for-all {
		opacity: 0.25;
	}
}

.archive-header {
	display: block;
	float: left;
	width: 100%;
	pointer-events: none;
}


.archive {
	#content {
		float: left;
		width: 200%;
		height: 100%;
		overflow: hidden;
		transform: translate3d(0, 0, 0);
		transition: transform 320ms ease-in-out;
		
		&.show-article {
			transform: translate3d(-50%, 0, 0);
		}
	}
}

.page-template-page-gallery-php {
	#content {		
		float: left;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
}

#articleContainer {
	float: left;
	width: 50%;
	height: 100%;
	transform: translateZ(0);
	
	.main-section {
		padding: 0;
	}
}
	
	
.archive {
	.post {
		height: 100%;
		height: 100vh;
		
		margin: 0;
		overflow: hidden;
		z-index: 1;
		
		.placeholder {
			//backface-visibility: hidden;
			z-index: -1;
			
			img {
				visibility: hidden;
				display: none;
			}
		}
			
		.entry-header {			
			text-align: left;			
			backface-visibility: hidden;
			padding: 0 4rem;
			position: relative;
			width: 100%;			
			display: block;
			transform: translate3d(0, -6rem, 0);
			pointer-events: none;
			
			@media #{$portrait and $small} {
				transform: translate3d(0, -7rem, 0);
			}
			
			@media #{$medium-up} {
				padding: 0 1.5rem;
				transform: translate3d(0, -9rem, 0);
			}
			
			@media #{$large-up} {
				//padding: 25% 2rem 0;
				
			}
			
			@media #{$xlarge-up} {
				//padding: 30% 2rem 0;
			}
	
			&::before, &::after {
				pointer-events: none;
			}
		}	
	}
	
	.entry-readmore {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		text-indent: 200%;
		white-space: nowrap;
		z-index: 1000;
		transform: translateZ(0);
		//pointer-events: none;
		cursor: pointer;
		opacity: 0;
		
		-ms-touch-action: manipulation; /* IE10  */
		touch-action: manipulation;     /* IE11+ */
	}
	/*
	.hover-active .active .entry-readmore {
		pointer-events: initial;
	}
	*/
}
/*
.no-csstransforms3d {
	.archive {
		.post {
			img {
				transform: translate(-50%, -50%);
			}
		}
	}
}
*/

.post-thumbnail {
	float: left;
	width: 100%;
}


.next-page {
	display: table;
	width: 100%;
	height: 100%;
	//background: rgba(#FFF, 0.95);
	background-color: scale-color($tabbar-bg, $lightness: 100%);
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 2px, rgba(255,255,255,.5) 2px, rgba(255,255,255,.5) 6px);
	transition: 0.32s ease;
	
	a {
		display: table-cell;
		vertical-align: middle;
		font-size: 1000%;
		//color: rgba(#000, 0.25);
		color: scale-color($tabbar-bg, $lightness: 25%);
		transition: 640ms ease;
		text-align: center;
		
		&:hover,
		&:focus {
			color: $primary-color;
			transform: translate3d(3rem, 0, 0);			
		}
	}
	
	&:hover {
		background-color: scale-color($tabbar-bg, $lightness: 100%);
		background-image: repeating-linear-gradient(-45deg, transparent, transparent 2px, rgba(255,255,255,.25) 2px, rgba(255,255,255,.25) 6px);
	}
}



.placeholder-container {
	height: 100%;
	height: 100vh;
	background: #1b1b1b;
	position: relative;
	z-index: 1000;
	overflow: hidden;	
	transform: translateZ(0);
	
	.blurbg {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		opacity: 0.75;
		z-index: -1;
		transform: scale(1.05);
	}
	
	.img {
		height: 100%;
		padding: 3rem;
		
		img {
			display: block;
			width: auto;
			max-height: 100%;
			max-width: 100%;
			position: relative;
			top: 50%;
			left: 50%;
			-ms-transform: translate(-50%, -50%);
			transform: translate3d(-50%, -50%, 0px);			
		}
	}
		
	.bd {
		height: 100%;
	}
}

.centerTitle {
	height: 100%;
	
	.centered {
		height: 100%;
	}

	@media #{$large-up} {
		padding: 0 1.5rem 0 0;
	}
	
	@media #{$medium-up} {
		display: table;
		
		.centered {
			display: table-cell;
			vertical-align: middle;
		}
	}
}

.entry-title, .datePublished {
	display: block;
	font-weight: 300;
	color: #fff;
	pointer-events: none;
	
	@media #{$small-only} {
		text-shadow: 1px 1px 3px #000;
		transform: translate3d(0px, - $h3-line-height * 5, 0px);
	}
	
	@media #{$large-up} {
		//opacity: 0.4;		
		//text-shadow: 0px 0px 5px #000;
		line-height: 1.2;
	}
}

.entry-title {			
	letter-spacing: -1px;		
	font-size: $h3-font-size; 
	line-height: $h3-line-height;
	margin-top: $h3-margin-top / 2;
	margin-bottom: $h3-margin-bottom / 2;
	
	@media #{$medium-up} {
		text-transform: uppercase;
		font-size: $h2-font-size; 
		line-height: $h2-line-height / 2;
		margin-top: $h2-margin-top / 2;
		margin-bottom: $h2-margin-bottom / 2;
	}
}

.datePublished {
	@media #{$medium-up} {
		font-size: 75%;				
	}
}

.post-content {
	text-align: justify;
	
	@media #{$medium-up} {
		padding: 1rem !important;
	}
	
	@media #{$large-up} {
		padding: 3rem !important;
	}
	
	.entry-content {
		margin: 0 0 1.6rem;
		/*
		-moz-column-gap: 3rem;
		-webkit-column-gap: 3rem;
		column-gap: 3rem;
		
		-webkit-columns: 3 300px;
		   -moz-columns: 3 300px;
				columns: 3 300px;
				
		 -webkit-column-rule: 1px dotted #ddd;
			-moz-column-rule: 1px dotted #ddd;
				 column-rule: 1px dotted #ddd;
		*/
	}
}
	
	
.single {
	.main-section {
		overflow-x: hidden;
		overflow-y: scroll;
		box-shadow: 0 0 $base-line-height $sidenav-width hsl(0, 0%, 95%) inset;
	}
	
	.placeholder-container {
		height: calc(100vh - (1.625rem * 4));
	}
	
}
	
.arrow {
	position: absolute;
	left: 50%;	
	text-align: center;
	transform: translate3d(-50%, -3rem, 0);
	color: #fff;
	text-shadow: 0px 0px 5px #000;
	cursor: pointer;
	z-index: 1001;

	//@include animation('pulse 3s infinite');
	
	&:hover {
		//opacity: 1;
		@include animation('none');
	}
}