//$onepage-slide: "transform 640ms ease-out" !default;
$onepage-slide: "transform 640ms cubic-bezier(1.000, 0.000, 0.000, 1.000)" !default;

.disable-hover,
.disable-hover * 
{
	pointer-events: none !important;
}

body, html {
  margin: 0;
  overflow: hidden;
}

body, #onepagescroll, html {
	height: 100%;
}

#onepagescroll {
	-webkit-transition: -webkit-#{$onepage-slide};
	-moz-transition: -moz-#{$onepage-slide};
	-ms-transition: -ms-#{$onepage-slide};
	-o-transition: -o-#{$onepage-slide};
	transition: #{$onepage-slide};
	will-change: transform;
	float: left;
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
	padding: 0;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	backface-visibility: hidden;
	overflow-y: scroll;

	.section {
		width: 100%;
		height: 100%;
	}
}

.archive {
	#content {
		#onepagescroll {
			width: 50%;
		}
	}
}

#onepagescroll.activated {
	overflow-y: visible;
}

.onepage-pagination {
	position: fixed;
	right: 1rem;
	top: 50%;
	z-index: 5;
	list-style: none;
	margin: 0;
	padding: 0;
	transform: translate3d(0, -50%, 0);
	
	@media #{$medium-up} {
		right: $sidenav-width + 1rem;
	}
	
}
.onepage-pagination li {
	text-align: center;
}
.onepage-pagination li a{
	padding: 10px;
	width: 4px;
	height: 4px;
	display: block;
	transform: translateZ(0);
  
}
.onepage-pagination li a:before{
	content: '';
	position: absolute;
	width: 4px;
	height: 4px;
	background: #fff;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	transform: translateZ(0);
}

.onepage-pagination li a.active:before{
	width: 10px;
	height: 10px;
	background: none;
	border: 2px solid #fff;
	margin-top: -4px;
	left: 8px;
}